
.contact {
    margin-top: 150px;
    margin-bottom: 150px;
}

.contact__title {
    color: #121212;
    font-size: 18px;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    margin-bottom: 74px;
}

.contact__list {
    display: flex;
    gap: 104px;
}

.contact__item a {
    color: #121212;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
    text-decoration: none;
}

.contact__item_iphone {
    position: relative;

}

.contact__item_iphone::after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: -35px;

    background-image: url('./resources/contact/iphone.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.contact__item_mail {
    position: relative;
    opacity: 0.5;
    border-bottom: 2px #121212 solid;
}

.contact__item_mail::after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: -35px;

    background-image: url('./resources/contact/messages.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}