.footer {
    background-color: #121212;
    padding-top: 60px;
    padding-bottom: 30px;
}

.footer__title {
    color: #FFF;
    opacity: 0.5;
    text-align: center;
}

.footer__nav {
    margin-bottom: 87px;
    text-align: center;
}

.footer__link {
    text-decoration: none;
    padding-right: 53px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    color: #FFF;
}

.footer__link:last-child {
    padding-right: 0;
}

.footer__link:hover {
    opacity: 0.5;
}