.gallery-inner {
  position: relative;
  height: 717px;
  width: 100%;
}

.gallery__title {
  position: absolute;
  top: 60px;
  color: #FFF;
  font-size: 22px;
  letter-spacing: -0.66px;
  text-transform: uppercase;
  z-index: 10;
}

.gallery__controls {
  position: absolute;
  bottom: 162px;
  z-index: 10;
  display: flex;
  gap: 14px;
  left: auto;

}
.gallery__control-next:hover,
.gallery__control-prev:hover  {
 opacity: 0.5;
}
.gallery__control-prev,
.gallery__control-next {
  width: 40px;
  height: 40px;
  background: none;
  border: none;

}


.gallery__control-prev {
  background-image: url('./resources/slides/prev.png');
}

.gallery__control-next {
  background-image: url('./resources/slides/prev.png');
  transform: rotate(180deg);
}

.gallery__slides {
  width: 100%;
  height: 100%;

}

.gallery__slide {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.gallery__slide_active {
  opacity: 1;
}

.gallery__text {
  position: absolute;
  bottom: 60px;
  font-size: 30px;
  letter-spacing: -0.9px;
  color: #FFF;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 961px) {
  .gallery-inner {
    height: 536px;
  }

  .gallery__title {
    font-size: 20px;
    line-height: 27px;
    margin-left: 50px;
  }

  .gallery__controls {
    /* margin-left: 41px; */
  }

  .gallery__text {
    margin-left: 50px;
    font-size: 25px;
    line-height: 34px;
    bottom: 80px;
  }

}

@media (max-width: 576px) {
  .gallery-inner {
    height: 408px;
  }

  .gallery__title {
    font-size: 14px;
    line-height: 19px;
    margin-left: 12px;
  }

  .gallery__controls {
    bottom: calc(50% - 16px);
    width: calc(100% - 30px);
    justify-content: space-between;
    /* margin-left: 0px; */
    gap:0;
  }

  .gallery__text{
    margin-left: 13px;
    font-size: 19px;
    line-height: 26px;
  }
}